!server/target/

server/target/*
!server/target/release/

server/target/release/*
!server/target/release/api-rust-test.exe
!server/target/release/api-rust-test.d
!server/target/release/api-rust-test.pdb